.banner {
    background-image: url('./img/CaryQuad_banner.jpg');
    height: 250px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 50%;
}

.out_now {
    text-align: center;
}

.music_embed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.music_embed iframe {
    width: 50%;
}

.foot {
    text-align: center;
}