#banner {
    background-image: url('./img/CaryQuad_banner.jpg');
    height: 250px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 50%;
}

#out_now {
    text-align: center;
}

#music_embed {
    display: flex;
    align-items: center;
    justify-content: center;
}

#music_embed iframe {
    width: 50%;
}

#links_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#links {
    width: 50%;
}

.accordion {
    --bs-accordion-btn-bg: transparent;
	--bs-accordion-active-bg: transparent;
    --bs-accordion-btn-focus-box-shadow: transparent;
}

#foot {
    text-align: center;
}
