html {
    overflow-y: scroll;
}

body {
    background-image: url('./img/CaryQuad_background.jpg');
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#banner {
    background-image: linear-gradient(90deg, black, transparent, black),
        url('./img/CaryQuad_animatedbanner.webp');
    height: 200px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#logo {
    height: 50%;
    display: none;
}

#animation_container {
    display: flex;
}

#tagline {
    text-align: center;
    color: lightgrey;
    text-shadow: 0px 0px 30px rgb(118, 193, 218);
    padding-top: 10px;
}

#out_now {
    text-align: center;
    color: lightgrey;
    text-shadow: 0px 0px 30px rgb(118, 193, 218);
    padding-bottom: 30px;
}

#music_embed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 60%;
    margin: auto;
}

iframe {
    box-shadow: 0px 0px 30px rgb(39, 71, 82);
}

#youtube_embed {
    height: 360px;
}

#spotify_embed {
    height: 360px;
}

#links_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#links {
    width: 40%;
}

.accordion {
    --bs-accordion-btn-bg: transparent;
	--bs-accordion-active-bg: transparent;
    --bs-accordion-btn-focus-box-shadow: transparent;
    --bs-accordion-color: transparent;
    --bs-accordion-bg: transparent;
    --bs-accordion-border-color: transparent;
    --bs-accordion-btn-color: lightgrey;
    --bs-accordion-active-color: lightgrey;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='lightgrey'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='lightgrey'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button {
    font-size: 1.5em;
    text-shadow: 0px 0px 40px rgb(118, 193, 218);
    width: 70%;
    margin: auto;
}

.accordion-button:after {
    order: -1;
}

.accordion-body {
    color: lightgrey;
}

.col-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}

.stream_logo {
    width: 50px;
    margin: auto;
    filter: drop-shadow(0 0 10px rgb(49, 90, 102));
}

#foot {
    text-align: center;
    color: lightgrey;
}

a {
    color: lightgrey;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (width <= 1366px) {
    #music_embed {
        max-width: 80%;
    }
}

@media (width <= 1024px) {
    #banner {
        height: 150px;
    }

    #music_embed {
        flex-direction: column;
        max-width: 60%;
    }

    #links {
        width: 50%;
    }

    .accordion-button {
        width: 100%;
    }
}

@media (width <= 800px) {
    #youtube_embed {
        height: 280px;
    }

    #music_embed {
        max-width: 80%;
    }
    
    #spotify_embed {
        height: 152px;
    }

    #links {
        width: 60%;
    }
}

@media (width <= 640px) {
    #banner {
        background-image: linear-gradient(90deg, black, transparent, black),
            url('./img/CaryQuad_banner.jpg');
        height: 125px;
    }

    #logo {
        display: flex;
    }

    #animation_container {
        display: none;
    }

    #youtube_embed {
        height: 200px;
    }

    #links {
        width: 80%;
    }
}

@media (width <= 500px) {
    #banner {
        height: 100px;
    }

    #logo {
        height: 80%;
    }

    #music_embed {
        max-width: 90%;
    }

    #links_container {
        padding: 0px;
    }

    #links {
        width: 95%;
    }
}